@import "tailwindcss";

:root {
	font-family: "Poppins", sans-serif;
	--bg-main-color: #f9edff;
	--bg-color: #ffffff;
	--bg-danger: #fdd3d3;
	--bg-warning: #fdf6d3;
	--bg-success: #dffbe0;

	--text-main: #9333ea;
	--text-color: #111827;
	--text-danger: #ff0000;
	--text-warning: #c9591d;
	--text-success: #178b21;

	--border-main: #a855f7;
	--border-color: #000000;
	--border-danger: #ff2a2a;
	--border-warning: #ffc32a;
	--border-success: #20ba2d;

	--header-bg: #ffffff;
	--header-text: #111827;
	--pattern-color: #0000001a;
}

.dark {
	--bg-main-color: #220523;
	--bg-color: #000000;
	--text-color: #bababa;
	--border-color: #555555;
	--header-bg: #000000;
	--header-text: #ffffff;
	--pattern-color: #ffffff1a;
}

body {
	background-image: linear-gradient(
			90deg,
			var(--pattern-color) 1px,
			transparent 1px
		),
		linear-gradient(0deg, var(--pattern-color) 1px, transparent 1px);
	background-color: var(--bg-main-color);
	background-size: 50px 50px;
	color: var(--text-color);
	transition: background-color 0.3s, color 0.3s;
}
